<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <h1>Create new user</h1>
    <br/>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>

    <br/>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">

    <label for="firstname">Enter firstname: </label>
    <input type="text" th:field="*{firstname}" id="firstname"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstname') }" th:errors="*{firstname}">firstname error</div>

    <br/>

    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastname') }" th:errors="*{lastname}">lastname error</div>

    <br/>

    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age') }" th:errors="*{age}">Age error</div>

    <br/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email') }" th:errors="*{email}">email error</div>

    <br/>

    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username') }" th:errors="*{username}">username error</div>

    <br/>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password') }" th:errors="*{password}">password error</div>

    <br/>

    <label >Enter roles: </label>

    <input type="checkbox" id="user" name="roles" value="1" checked><label for="user"> User</label>

    <input type="checkbox" id="admin" name="roles" value="2"><label for="admin"> Administrator</label>

    
    <div style="color:red" th:if="${#fields.hasErrors('roles') }" th:errors="*{roles}">roles error</div>

    <br/>
    <br/>

    <input type="submit" value="Create!"/>


</form>

</body>
</html>