<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>

<h1>All Users</h1>

<table border="1">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>


    </tr>

    <p th:text="${'Id: ' + user.getId()}">VALUE</p>
    <p th:text="${'Name: ' + user.getName()}">VALUE</p>
    <p th:text="${'Surname: ' + user.getSurname()}">VALUE</p>
    <p th:text="${'Age: ' + user.getAge()}">VALUE</p>
    <p th:text="${'Id: ' + user.getEmail()}">VALUE</p>
    <p th:text="${'Id: ' + user.getRoles()}">VALUE</p>


    </tr>


</table>

<br/>


<form action="/users/new" target="_blank">
    <button>New user</button>
</form>

</body>
</html>